/* Основной контейнер для формы */
.form-container {
    display: flex;
    flex-direction: column; /* Вертикальное расположение элементов */
    align-items: stretch; /* Растянуть элементы на всю ширину контейнера */
    max-width: 400px; /* Максимальная ширина формы */
    padding: 20px; /* Отступы внутри формы */
    border: 1px solid #ccc; /* Рамка вокруг формы */
    border-radius: 8px; /* Скругление углов */
    background-color: #dcebdc; /* Цвет фона формы */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для формы */
    margin: 10px auto; /* Центрирование формы по вертикали и горизонтали */
}

h1 {
    color: white; /* Цвет текста заголовка */
    font-size: 2em; /* Увеличьте размер шрифта */
    margin: 0; /* Убираем все отступы */
    margin-bottom: 0px; /* Уменьшите отступ снизу */
    text-align: center; /* Центрирование текста */
    background-color: #369d4d; /* Цвет фона заголовка (можно изменить) */
    padding: 10px; /* Отступы внутри заголовка */
    border-radius: 5px; /* Скругление углов фона заголовка */
}

body {
    background-color: #369d4d; /* Замените на желаемый цвет */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Установите шрифт по вашему выбору */
}

.form-group {
    display: flex; /* Используем Flexbox */
    align-items: center; /* Вертикальное выравнивание по центру */
    margin-bottom: 15px; /* Отступ между полями */
}

label {
    width: 400px; /* Ширина для названий полей */
    margin-right: 10px; /* Отступ между названием и полем ввода */
    text-align: left; /* Выравнивание текста по правому краю */
    display: block; /* Названия полей занимают всю ширину */
    margin-bottom: 5px; /* Отступ между названием и полем ввода */
    font-weight: bold; /* Сделать текст жирным, если нужно */
}

/* Стили для полей ввода */
.input-field {
    width: 93%; /* Задает ширину полей ввода */
    padding: 12px; /* Увеличенный отступ внутри поля */
    border: 1px solid #ccc; /* Цвет рамки */
    border-radius: 4px; /* Скругление углов */
    margin-bottom: 15px; /* Промежуток между полями */
    font-size: 16px; /* Размер шрифта */
}

/* Стили для кнопок */
.form-button {
    padding: 12px; /* Увеличенный отступ внутри кнопки */
    border: none; /* Убираем рамку */
    border-radius: 4px; /* Скругление углов */
    background-color: #28a745; /* Цвет фона кнопки */
    margin: 0 auto;
    color: white; /* Цвет текста */
    font-size: 18px; /* Увеличенный размер шрифта для кнопки */
    cursor: pointer; /* Указатель при наведении */
    margin-bottom: 15px; /* Отступ между кнопками */
    width: 50%; /* Ширина кнопок на всю ширину контейнера */
    font-weight: bold; /* Сделать текст жирным, если нужно */
}

.form-button:hover {
    background-color: #369d4d; /* Цвет фона кнопки при наведении */
}

/* Стили для сообщений об ошибках и успехах */
.error-message {
    color: red; /* Цвет текста сообщения об ошибке */
    font-size: 12px; /* Размер шрифта для сообщения об ошибке */
    margin-top: -5px; /* Убираем лишний отступ сверху */
    margin-bottom: 10px; /* Промежуток между сообщением и полем */
}

.success-message {
    color: green; /* Цвет текста сообщения об успехе */
    font-size: 12px; /* Размер шрифта для сообщения об успехе */
    margin-top: -5px; /* Убираем лишний отступ сверху */
    margin-bottom: 10px; /* Промежуток между сообщением и полем */
}
