/* Основной контейнер для формы */
.form-container {
    display: flex;
    flex-direction: column; /* Вертикальное расположение элементов */
    align-items: stretch; /* Растянуть элементы на всю ширину контейнера */
    max-width: 400px; /* Максимальная ширина формы */
    margin: 0 auto; /* Центрирование формы по горизонтали */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для формы */
    border: 1px solid #ccc; /* Рамка вокруг формы */
    border-radius: 8px; /* Скругление углов */
    background-color: #dcebdc; /* Цвет фона формы */
    padding: 20px; /* Отступы внутри формы */
    margin: 30px auto; /* Центрирование формы по вертикали и горизонтали */
}
h1 {
    color: white; /* Цвет текста заголовка */
    font-size: 2em; /* Увеличьте размер шрифта */
    margin-bottom: 0px; /* Уменьшите отступ снизу */
    text-align: center; /* Центрирование текста */
    background-color: #369d4d; /* Цвет фона заголовка (можно изменить) */
    padding: 3px; /* Отступы внутри заголовка */
    border-radius: 5px; /* Скругление углов фона заголовка */
}

.input-container {
    background-color: #f0f0f0; /* Цвет фона */
    padding: 10px; /* Отступы вокруг поля ввода */
    border-radius: 5px; /* Скругление углов */
    margin-bottom: 5px; /* Отступ между полями */

}
input {
    width: 100%; /* Поля ввода занимают всю ширину контейнера */
    padding: 10px; /* Отступы внутри полей ввода */
    border: 1px solid #ccc; /* Рамка вокруг полей ввода */
    border-radius: 4px; /* Скругление углов */
    width: 100%; /* Ширина поля ввода */
}


.input-field-container {
    margin-bottom: 10px;

}

/* Стили для полей ввода */
.input-field {
    width: 93%; /* Задает ширину полей ввода */
    padding: 12px; /* Увеличенный отступ внутри поля */
    border: 1px solid #ccc; /* Цвет рамки */
    border-radius: 4px; /* Скругление углов */
    margin-bottom: 0px; /* Промежуток между полями */
    font-size: 16px; /* Размер шрифта */
    margin-top: 0px;

}

/* Стили для кнопок */
.form-button {
    padding: 12px; /* Увеличенный отступ внутри кнопки */
    border: none; /* Убираем рамку */
    border-radius: 4px; /* Скругление углов */
    background-color: #28a745; /* Цвет фона кнопки */
    color: white; /* Цвет текста */
    font-size: 18px; /* Увеличенный размер шрифта для кнопки */
    cursor: pointer; /* Указатель при наведении */
    margin-bottom: 10px;
    margin: 8px auto;
    width: 50%; /* Ширина кнопок на всю ширину контейнера */
    font-weight: bold;
}

.form-button:hover {
    background-color: #369d4d; /* Цвет фона кнопки при наведении */
}

/* Стили для сообщений об ошибках и успехах */
.error-message {
    color: red; /* Цвет текста сообщения об ошибке */
    font-size: 12px; /* Размер шрифта для сообщения об ошибке */
    margin-top: -5px; /* Убираем лишний отступ сверху */
    margin-bottom: 10px; /* Промежуток между сообщением и полем */
}

.success-message {
    color: green; /* Цвет текста сообщения об успехе */
    font-size: 12px; /* Размер шрифта для сообщения об успехе */
    margin-top: -5px; /* Убираем лишний отступ сверху */
    margin-bottom: 10px; /* Промежуток между сообщением и полем */
}
/* styles.css */
body {
    background-color: #369d4d; /* Замените на желаемый цвет */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Установите шрифт по вашему выбору */
}

label {
    display: block; /* Названия полей занимают всю ширину */
    margin-bottom: 5px; /* Отступ между названием и полем ввода */
    font-weight: bold; /* Сделать текст жирным, если нужно */
    text-align: left;
}

img {
  width: 100%; /* Задает ширину 100% от контейнера */
  max-width: 500px; /* Максимальная ширина 600px */
  height: auto; /* Автоматическая высота для сохранения пропорций */
  justify-content: center; /* Горизонтальное центрирование */
  align-items: center; /* Вертикальное центрирование (если нужно) */

}

.image-container h1 {
  text-align: center; /* Центрирование текста и изображения */
  margin-bottom: 0px; /* Отступ между заголовком и изображением */
  padding: 10px; /* Отступы внутри заголовка */
  line-height: 2;
}

  .framed-image {
   display: block; /* Убедитесь, что изображение блочное */
   margin: 0px auto; /* Отступ сверху и автоматические отступы по бокам */
   border: 10px solid #a5ba9c; /* Толщина и цвет рамки */
   padding: 0px; /* Отступ между изображением и рамкой */
   border-radius: 8px; /* Скругление углов рамки */
}

.custom-link {
  color: #a5ba9c; /* Цвет текста ссылки (синий) */
  text-decoration: none; /* Убирает подчеркивание */
}

.custom-link:hover {
  color: #f5deb3; /* Цвет текста при наведении (темно-синий) */
  text-decoration: underline; /* Подчеркивание при наведении */
}




